html {
  scroll-behavior: smooth;
}

/* ===== HEADER ===== */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  min-height: 293px;
  place-items: center;
  font-size: 18px;
  font-weight: 400;
}

.header .menu {
  display: flex;
  list-style: circle;
  gap: 32px;
}

.active {
  text-decoration: none;
}

.header .menu li:first-child {
  list-style: none;
}

.logo_black {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-style: normal;
  max-width: 240px;
  min-height: 98px;
  line-height: 24.3px;
  margin-left: 100px;
}

/* ===== COVER SECTION ===== */

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.cover_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 106px;
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.cover_text {
  display: block;
}

/* letter-spacing ломает правый отступ, из-за этого не получается разместить слова 
   как на макете без доп отступов для них */

.text_center {
  text-align: center;
  padding-left: 30px;
  margin-top: 15px;
}

.text_right {
  text-align: right;
  padding-left: 30px;
  margin-right: -30px;
  margin-top: 15px;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px 50px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover_button {
  cursor: pointer;
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.cover_button:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

/* ===== LOTS SECTION ===== */

.lots {
  color: black;
  margin: 176px 24px 0px 24px;
}

.lots_title {
  padding-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
  list-style: none;
  color: white;
}

.card {
  background-repeat: no-repeat;
  background-size: 185%;
  background-position: center;
  display: block;
  min-height: 596px;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.7s ease;
}

.card:hover {
  background-size: 175%;
}

.card_movie {
  background-image: url(../images/card-lot-01.jpg);
}

.card_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_content {
  position: relative;
  height: 100%;
  color: white;
  padding: 0 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
}

/* Я вижу, что в фигме нет прозрачности и офсета, но при значениях из фигмы, в браузере почему-то всё выглядит немного иначе */

.card_content p {
  font-size: 20px;
  line-height: 120%;
}
.card_content h3 {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 3.5px;
}

.lots_show_more {
  padding-left: 40px;
  font-size: 20px;
  text-underline-offset: 4.5px;
}

/* ===== AUCTION SECTION ===== */

.auction {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 72px;
  margin: 120px 24px 0 24px;
  min-height: 595px;
}

.auction_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-left: 47px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}
.auction_logo img {
  width: 148px;
  height: 114px;
}

.about_auction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 133px;
}

.about_title {
  font-size: 27px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

/* ===== FOOTER ===== */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 180px 0;
  padding: 0 50px;
  font-size: 18px;
}

.footer address {
  margin-left: 0;
}

.footer .menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
}

.footer_social_icons {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer_social_icons img {
  width: 48px;
  height: 48px;
}
